<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar Cita</h5>
        <div *ngIf="formularioIncorrecto" class="text-center">
            <span class="badge bg-danger">Todos los campos son obligatorios</span>
        </div>

        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" [(ngModel)]="nombre" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group mb-3">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="fecha" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="hora">Hora</label>
            <input type="time" id="hora" [(ngModel)]="hora" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="sintomas">Síntomas</label>
            <textarea id="sintomas" [(ngModel)]="sintomas" rows="3" class="form-control" placeholder="Ingrese los síntomas"></textarea> 
        </div>        
        <button style="width: 100%;" (click)="agregarCita()" class="btn btn-primary btn-block">Agregar Cita</button>
    </div>
</div>