<div class="container pt-3">
  <div class="text-center tituloClass" >Aplicación de Citas</div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <app-crear-cita (nuevaCita)="agregarCita($event)"></app-crear-cita>
    </div>
    <div class="col-lg-6">
      <app-list-citas [listadoCitas]="listCitas" (deleteCita)="eliminarCitaListado($event)"></app-list-citas>
    </div>
  </div>
</div>